* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  width: 100vw;
  font-family: "Matrix";
}

@font-face {
  font-family: "Matrix";
  src: url("../fonts/matrix.ttf");
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(https://virtualbackgrounds.site/wp-content/uploads/2020/08/the-matrix-digital-rain.jpg);
  background-size: cover;
}
header h1 {
  padding: 1%;
  color: #ffffff;
  text-shadow: 0 0 5vh #00ff00;
}
span#the {
  font-size: 200%;
}
span#programator {
  font-size: 500%;
}
span#evolution {
  font-size: 300%;
}
main {
  text-align: center;
  justify-content: center;
  display: block;
  align-items: center;
  background-image: url("../img/matrix.jpg");
  background-size: cover;
  background-color: #000000;
  padding-bottom: 2%;
}
main h1 {
  font-size: 300%;
  color: #00ff00;
  text-shadow: 0 0 5vh #000000;
}
main h2 {
  font-size: 300%;
  text-shadow: 0 0 5vh #00ff00;
}
span#date {
  font-size: 70%;
  color: #ffffff;
  text-shadow: 0 0 5vh #00ff00;
}
main h3 {
  font-size: 200%;
  color: #ffffff;
  text-shadow: 0 0 5vh #00ff00;
}
button {
  font-size: 100%;
  font-style: italic;
  height: 40px;
  width: 150px;
}
img {
  border: black solid;
}
